*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
     height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.shape{
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}